<h1>Contact</h1>
<p>App made by <a href="https://www.linkedin.com/in/fernando-osorto-088993122"><em>Fernando Osorto</em></a></p>
<br>
<p>Look at my other projects on <a href="https://github.com/nand09"><em>GitHub</em></a></p>
