<h1>Information about developer.</h1>
<div class='jumbotron'
<p>App made by <%= link_to "Fernando Osorto","https://www.linkedin.com/in/fernando-osorto-088993122"%>.</p>
<br>
<p>Look at my other projects on <%=link_to "Github","https://github.com/nand09"%>.</p>
</div>
