
$body-bg: #F0FFFF;
$nav-pills-active-link-hover-bg: #B62D7D;
$navbar-height:                    50px;

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

@import 'bootstrap-sprockets';
@import 'bootstrap';
