<hr/>
<footer class="footer">
  <nav>
    <ul>
      <li><%= link_to "About", pages_about_path %></li>
      <li><%= link_to "Contact", pages_contact_path    %></li>
      <li><a href="https://github.com/nand09">Fernando Osorto</a></li>
    </ul>
  </nav>
</footer>