<ul class="nav nav-pills">
  <li role="presentation" class="active"><%= link_to "Home", root_path %></li>
  <li role="presentation"><%= link_to "About", pages_about_path %></li>
  <li role="presentation"><%= link_to "Contact", pages_contact_path %></li>
</ul>
<br/ color="black">